$labelWidth: 80px

.templates
    position: relative
    display: flex
    flex-direction: column
    height: 210px
    width: 100%
    overflow-y: scroll
    .template
        display: flex
        height: min-content
        max-height: 300px
        min-height: 180px
        padding: 3px
        box-sizing: border-box
        width: 100%
        transition: background-color 0.25s ease
        &:hover
            background-color: #e0e0e0
        &:not(&:first-of-type)
            margin-top: 1rem
        .image
            width: 300px
            height: 100%
            align-self: center
            object-fit: auto
        .options
            display: flex
            width: 100%
            padding: 0 1rem
            flex-direction: column
            h4.description
                margin: 0 0 10px
                text-decoration: 1px underline solid black
                font-size: 16px
                color: #000000
                width: 100%
                text-align: center
            .field
                display: flex
                &:not(&:first-of-type)
                    margin-top: 6px
                .label
                    width: $labelWidth
            .padding-fields
                display: flex
                width: 100%
                justify-content: flex-start
                column-gap: 15px
                .padding-field
                    display: flex
                    width: min-content
                    .left
                        margin-right: 2px
                .padding-field label
                    font-size: 12px
                .padding-field input
                    width: 25px
            .buttons
                margin-top: auto
                margin-left: auto
                .btn
                    border: 1px solid black
                    border-radius: 2px
                    margin-left: 6px
                    padding: 6px 6px
                    cursor: pointer
                    transition: opacity 0.3s ease
                .btn-copy
                    background-color: #38bb38
                    &.disabled
                        cursor: default
                        pointer-events: none
                        opacity: 0.28
